@font-face {
  font-family: "Hunger Games";
  src: url('/assets/Hunger_Games');
}

body {
  margin: 42px;
}

h1 {
  font-family: "Hunger Games", "Arial Black", sans-serif;
  font-size: 3.5em;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}