@font-face {
    font-family: "Hunger Games";
    src: url('/assets/Hunger_Games');
}
body {
    margin: 42px;
 }

 h1 {
    font-family: 'Hunger Games', Helvetica, sans-serif;
 }

 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
